#panel, #pmore, #less, #show, #Upan, #Ppan, #Epan, #Cookie {
		padding:5px;
		text-align:center;
		background-color: #e5eecc;
		border: solid 1px #c3c3c3;
}

#pmore, #less{
	padding: 5px;
	display: none;
}

#panels, #descript,  #descload, #login {
		padding:15px;
		text-align:center;
		background-color: #e5eecc;
		border: solid 1px #c3c3c3;
}

#header {color : #ffffff ;}

.card-header { 
	background-color : #000000;
	color : #ffffff ; }
	
/*  4. Bootstrap Changes */
.btn-primary { 
	background-color : #000000 ;
	border-color : #000000 ;
    color : #ffffff ;; 
}
.btn-primary:hover { 
	background-color : #ffffff ;
	border-color : #000000 ;
	color : #000000 ;
}
			

